#addPlayers{
    display: block;
}
#round{
    display: none;
}
#results{
    display: none;
}
#showResultsButton{
    display: none;
}
#hideResultsButton{
    display: none;
}
#nextRoundButton{
    display: none;
} 
.buttonDivider{
    margin: 20px;
}
