
/*Mobile:*/
@media screen and (max-width: 480px) {
    body{
        background-color: #f9462b;
        /*color tries
        #f9462b
        #ed5b37
        */
    }
    /*size*/
    #wrapper{
        width: 100%;
        font-family: "Roboto", sans-serif;
    }
    /*heading*/
    h1 {
        margin: 40px auto 20px auto;
        color: #fadf0f;
        text-align: center;
        font-family: "Cabin Condensed", sans-serif;
        font-size: 45px;
    }

    /*adding players*/
    #addPlayers{
        display: block;
        text-align: center;
    }
    input {
        width: 50%;
        height: 30px;
        margin: 20px;
    }
    #addPlayerButton{
        width: 50%;
        height: 40px;
        margin: 0px auto 20px auto;
        background-color: #fadf0f;
        color: #e60012;
        border: #000001 solid 2px;
        text-align: center;
        font-size: 16px;
    }
    #startGameButton{
        width: 50%;
        height: 40px;
        background-color: #e60012;
        color: white;
        border: none;
        text-align: center;
        font-size: 16px;
    }
    #currentPlayersHeading{
        margin: 30px auto 10px auto;
        color: white;
        font-size: 18px;
        border-top: #fadf0f solid 2px;
        padding-top: 10px;
    }
    #currentPlayers{
        list-style-type: none;
        color: white;
    }


    /*adding new round*/
    #nextRoundButton{
        display: none;
        text-align: center;
        width: 50%;
        height: 40px;
        margin: 0px auto 20px auto;
        background-color: #fadf0f;
        color: #e60012;
        border: #000001 solid 2px;
        font-size: 16px;
    }
    #scoreAdderName{
        color: white;
        /*border-top: #fadf0f solid 2px;*/
        text-align: center;
        font-size: 18px;
    }
    #round{
        display: none;
        text-align: center;
        color: white;
        border-top: #fadf0f solid 2px;
        border-bottom: #fadf0f solid 2px;
        padding: 10px;

    }
    #scoreInput{
        width: 30%;
        margin: auto 5px 20px 5px;
    }
    #addScoreButton{
        width: 25%;
        height: 40px;
        background-color: #e60012;
        color: white;
        border: none;
        text-align: center;
        font-size: 16px;
        border: #000001 solid 1px;

    }

    /*results*/
    #showResultsButton{
        display: none;
        text-align: center;
        width: 50%;
        height: 40px;
        margin: 20px auto 20px auto;
        background-color: #fadf0f;
        color: #e60012;
        border: #000001 solid 2px;
        font-size: 16px;
    }
    #hideResultsButton{
        display: none;
        text-align: center;
        width: 50%;
        height: 40px;
        margin: 20px auto 20px auto;
        background-color: #fadf0f;
        color: #e60012;
        border: #000001 solid 2px;
        font-size: 16px;
    }
    #results{
        display: none;
        text-align: center;
        color: white;
    }
    #results li{
        list-style-type: none;
        background-color: #fadf0f;
        border: #f9462b solid 2px;
        color: #e60012;
    }

    /*Log*/
    #showLogButton{
        display: none;
        text-align: center;
        width: 50%;
        height: 40px;
        margin: 20px auto 20px auto;
        background-color: #fadf0f;
        color: #e60012;
        border: #000001 solid 2px;
        font-size: 16px;
    }
    #hideLogButton{
        display: none;
        text-align: center;
        width: 50%;
        height: 40px;
        margin: 20px auto 20px auto;
        background-color: #fadf0f;
        color: #e60012;
        border: #000001 solid 2px;
        font-size: 16px;
    }
    #log{
        display: none;
        text-align: left;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        color: black;
        background-color: white;
        font-family: 'Sometype Mono', monospace;
        font-size: 14px;
        
    }

} /*end of mobile*/
    


@media screen and (min-width: 480px) {
    #addPlayers{
        display: block;
    }
    #round{
        display: none;
    }
    #results{
        display: none;
    }
    #showResultsButton{
        display: none;
    }
    #hideResultsButton{
        display: none;
    }
    #nextRoundButton{
        display: none;
    } 
    .buttonDivider{
        margin: 20px;
        color: red;
    }
    .button{
        color: red;
    }
    #addPlayerButton{
        color: blue;
    }
        
}
